$md-bg:  #2196F3;
$md-sectors-bg: #FAFAFA; 
$md-sectors-options: #212121; 
$md-button: #FFB300;
$md-text: #212121;

$mq-width-80: 80%;
$mq-width-40: 40%;

.home {
  position: relative;
  color: $md-text;
  .container {
    position: absolute;
    background-color: $md-bg; 
    transform: translate(-50%, 5%);
    top: 10%;
    left: 50%;
    width: 80%;
    height: 80vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0 10px 30px 10px rgba(0, 0, 0, 0.268);

    .title {
      color: #424242;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 20px;
      width: 40%;
      text-align: justify;
    }

    .name {
      margin-bottom: 20px;
      width: 100%; 
      text-align: center;
      input {
        height: 20px;
      }    
    }

    .sector {
      margin-bottom: 20px;
      select {
        width: 100%;
        height: 200px;
        background-color: $md-sectors-bg;
      }
      option {
        color: $md-sectors-options;
      }
      label {
        color: $md-text;
        font-size: 0.8em;
      } 
    }

  
    .terms {
      margin-bottom: 20px;
    }

    .submit {
      background-color: $md-button;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;
    }

    .error {
      color: #F44336;
      font-weight: 800;
      font-size: 0.8em;
      margin-bottom: 5px;
      text-transform:lowercase ;
    }
    .errorChar{
      border: 2px solid #F44336;
    }
    .isRegistered{
      background-color:  #7CB342;
      color: white;
      font-size: 0.7em;
      font-weight: 600;
      text-transform:uppercase ;
      margin-top: 10px;
      padding: 5px;
      text-align: center;
    }

  }
}

/* Mobiles */
@media only screen and (max-width: 320px) {
  .home .container {
    width: $mq-width-80;
    height: auto;
    padding: 15px;

    .title, .name input, .sector, .submit, .error, .errorChar {
      width: $mq-width-80;
    }
    .title {
      font-size: 0.9em;
    }
    .sector {
      select {
        height: 25vh;
      }
    }
    .submit {
      font-size: 0.9em;
      padding: 5px 10px;
    }
    .error {
      font-size: 0.7em;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .home .container {
    width: $mq-width-80;
    height: auto;
    padding: 15px;

    .title, .name input, .sector, .submit, .error, .errorChar {
      width: $mq-width-80;
    }
    .title {
      font-size: 1em;
    }
    .sector {
      select {
        height: 35vh;
      }
    }
    .submit {
      font-size: 0.9em;
    }
    .error {
      font-size: 0.7em;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home .container {
    width: 60%;

    .title, .name input, .sector, .submit, .error, .errorChar {
      width: $mq-width-80;
    }
    .title {
      font-size: 2em;
    }
    .sector {
      select {
        height: 40vh;
      }
    }
    .submit {
      font-size: 1.2em;
    }
    .error {
      font-size: 1em;
    }
  }
}

/* Laptop */
@media only screen and (min-width: 992px) {
  .home .container {
    width: $mq-width-40;

    .title, .name input, .sector, .submit, .error, .errorChar {
      width: $mq-width-80;
    }

    .sector {
      select {
        height: 40vh;
      }
    }
  }
}
