$md-bg:  #2196F3;
$md-sectors-bg: #FAFAFA; 
$md-sectors-options: #212121; 
$md-button: #FFB300;
$md-text: #212121;

.home {
  position: relative;
  color: $md-text;
  .container {
    position: absolute;
    background-color: $md-bg; 
    transform: translate(-50%, 5%);
    top: 10%;
    left: 50%;
    width: 80%;
    height: 80vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0 10px 30px 10px rgba(0, 0, 0, 0.268);

    .title {
      color: #424242;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 20px;
      width: 40%;
    }

    .name {
      margin-bottom: 20px;
      width: 100%; 
      text-align: center;
      input {
        width: 40%;
        height: 20px;
      }
      
    }

    .sector {
      margin-bottom: 20px;
      width: 40%;
      select {
        width: 100%;
        height: 200px;
        background-color: $md-sectors-bg;
      }
      option {
        color: $md-sectors-options;
      }
      label {
        color: $md-text;
        font-size: 0.8em;
      } 
    }

  
    .terms {
      margin-bottom: 20px;
    }

    .submit {
      background-color: $md-button;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      width: 40%;
      font-size: 1em;
    }

    .error {
      color: #F44336;
      font-weight: 800;
      font-size: 0.8em;
      margin-bottom: 5px;
      text-transform:lowercase ;
      width: 40%;
    }
    .errorChar{
      border: 2px solid #F44336;
      width: 40%;
    }
    .isRegistered{
      background-color:  #7CB342;
      color: white;
      font-size: 0.7em;
      font-weight: 600;
      text-transform:uppercase ;
      margin-top: 10px;
      padding: 5px;
      text-align: center;
    }
  }
}

